<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiegoCoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1465FF31BF93FBE00F52BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F146600A1BF93FBE00F52BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F14660151BF93FBE00F52BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
